/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
    background-image:url(../imagenes/fondo.jpg);
    background-size:cover;
    padding: 20px;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
    background-position: center;

}


#logo {
    width: 50px; 
    height: auto;
    margin-left: 10px;
}


header {
    background: #4CAF50;
    color: #fff;
    padding: 10px 0;
}

header .container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 2rem;
    margin-left: -500px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 20px;
    margin: 10px 0;
}

section .container {
    width: 80%;
    margin: 0 auto;
}

h2 {
    margin-bottom: 20px;
}

form {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}




footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0px;
    width: 100%;
}
/* Estilos para el catálogo */
#catalogo {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.grid-item {
    background: #f4f4f4;
    padding: 1px;
    border-radius: 8px;
    text-align: center;
}

.grid-item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 8px;
}

.grid-item p {
    margin-bottom: 10px;
}

/* Ajusta el tamaño de las imágenes */
.grid-item img {
    width: 200px; /* Ajusta el ancho al 100% del contenedor */
    height: 200px; /* Ajusta la altura automáticamente para mantener la proporción */
  
}